// Import

@import "_variables.scss";

body {
    margin: 0;
    min-height: 100vh;
    font-family: $font1;
    color: $txt1;
    font-size: 16px;

    @media screen and (max-width: 768px) {
        font-size: 14px;
    }


}

* {
    box-sizing: border-box;
}

// body Background-color option
.bg-light {
    &-1 {
        background-color: $bgWhite1;
    }

    &-2 {
        background-color: $bgWhite2;
    }

    &-3 {
        background-color: $bgWhite3;
    }

}

.bg-dark {
    &-1 {
        background-color: $bgDark1 !important;
    }

    &-2 {
        background-color: $bgDark2;
    }

    &-3 {
        background-color: $bgDark3;
    }

    &-4 {
        background-color: $bgDark4;
    }

}

.active {
    @extend .bg-dark-1;
}



// Mise en forme texte
h2,
h1,
h4 {
    margin: 0;
    padding: 0;
}

// Liseré coloré
.colored {
    display: flex;
    width: 100%;
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;


    div {
        flex: 1;
        height: 5px;

        &:nth-child(1) {
            background-color: $col1;
        }

        &:nth-child(2) {
            background-color: $col2;
        }

        &:nth-child(3) {
            background-color: $col3;
        }

        &:nth-child(4) {
            background-color: $col4;
        }

        &:nth-child(5) {
            background-color: $col5;
        }

    }
}

.container {
    max-width: 940px;
    height: 100%;
    margin: auto;
    padding: 10vh 20px;

    @media screen and (max-width: 375px) {
        padding: 5vh 0;
    }

    div,
    section,
    header {

        border-radius: 2px;
    }
}

// Profile
.profile {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    margin-left: 60px;
    margin-bottom: 2px;

    @media screen and (max-width: 500px) {
        margin-left: 0;
    }

    &-icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 1.9em;
        position: absolute;
        top: 0;
        left: -61px;
        background-color: $col3;

        @media screen and (max-width: 500px) {
            display: none;
        }
    }


    &-header {
        display: flex;
        flex-flow: row nowrap;
        border-bottom: $borderType2;
        background-color: $bgDark2;

        &:hover {
            @extend .active;
        }

        &-title {
            width: 100%;
            height: 60px;
            transition: all 0.3s ease;
            overflow: hidden;

        }

        &-name {

            padding: 0 20px;
            line-height: 60px;
            text-transform: uppercase;

            &-container {
                width: 140px;
                height: 100%;
                color: $txt1;
                background-color: $col3;
                transition: all 0.5s ease;

                &-js {
                    width: 0;
                    border: 0;
                }

            }

        }

        &-arrow {
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 2em;

            #profile-arrow {
                padding: 0.3rem;
                color: $txt1;
                transition: transform 0.6s ease;
            }

            .profile-arrow-js {
                transform: rotateX(180deg);
            }
        }
    }

    &-main {
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        box-shadow: $shadowStyle1;

        &-js {
            transition: max-height 0.5s ease;
            max-height: 80px;
        }

        &-top {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;
            transition: all 0.5s ease;
        }


        &-image {
            display: flex;
            width: 150px;
            height: 150px;
            margin: 10px;
            transition: all 0.6s ease;
            background: url('../img/ma-photo.jpg') no-repeat center;
            background-size: contain;

            border-radius: 50% !important;
            border: $borderType1;

            &-js {
                width: 60px;
                height: 60px;
            }

        }

        @media screen and (max-width: 500px) {
            &-image {
                width: 60px;
                height: 60px;
            }
        }

        &-name {
            flex: 1;
            max-width: 50%;
            min-width: fit-content;
            padding: 50px 20px 20px 3rem;
            position: relative;
            transition: all 0.3s ease;
            height: auto;


            h1 {
                font-size: 2.3em;
            }


            &-js {
                min-width: 60%;
                min-height: 150px;
                padding: 10px !important;
            }

            .profile-job {
                color: $col2;
            }

            @media screen and (max-width: 600px) {
                padding: 50px 10px;

                h1 {
                    font-size: 2.2em;
                }
            }
            @media screen and (max-width: 500px) {
                padding: 20px 10px;

                h1 {
                    font-size: 1.5em;
                }

            }
        }



        &-data {
            flex: 1;
            max-width: 50%;
            min-width: fit-content;
            margin: auto;
            padding: 20px;
            overflow: hidden;

            &-js {
                // ? animation Js
            }

            .profile-table {
                margin-left: auto;
                margin-right: 20px;
                transform: rotate(0deg);
                transform-origin: top right;
                opacity: 1;
                transition: all 0.3s ease-out;
                transition-delay: 0.2s;

                &-js {
                    transform: rotate(90deg);
                    opacity: 0;
                }
            }


            tr td:first-child {
                color: $col2;
                text-align: right;
                vertical-align: text-top;
            }
        }

        &-description {
            padding: 20px;
            text-align: center;
            border-top: $borderType2;

            &-js {
                // ? Animation Js

            }

            h2 {
                color: $txt2;
                font-size: 1.5em;
            }

            p {
                line-height: 2em;
                font-size: 1.15em;
            }
        }

    }

}

section {

    position: relative;
    margin-left: 60px;
    margin-bottom: 2px;

    @media screen and (max-width: 500px) {
        margin-left: 0;
    }

}

.section {


    &-icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 1.9em;
        position: absolute;
        top: 0;
        left: -61px;

        @media screen and (max-width: 500px) {
            display: none;
        }

    }

    &-header {
        display: flex;
        flex-flow: row nowrap;
        border-left: $borderType2;
        border-right: $borderType2;
        border-bottom: $borderType2;
        background-color: $bgDark2;

        &:hover {
            @extend .active;
        }

        &-title {
            width: 100%;
            height: 60px;
            transition: all 0.3s ease;
            overflow: hidden;
        }



        &-name {
            padding: 0 20px;
            line-height: 60px;
            text-transform: uppercase;

            &-container {
                width: 350px;
                height: 100%;
                color: $txt1;
                border-left: 1px solid $txt1;
                transform: translateX(-1px);
                transition: all 0.5s ease;

                h2 {
                    width: 300px;
                }

            }
        }

        & .name-container-js {
            width: 0 !important;
            border: 0 !important;
        }

        &-arrow {
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 2em;

            i {
                transition: all 0.6s ease;
            }

            & .js {
                transform: rotateX(180deg);
            }
        }
    }

    &-main {

        box-shadow: $shadowStyle1;


        &-js {
            transition: max-height 0.5s ease;
            overflow: hidden;
            max-height: 0;
        }

    }

}

// Compétences / skills

.skills {


    .section {

        &-icon {
            background-color: $col1;
        }


        &-header {
            &-name {
                &-container {
                    width: 240px;
                    background-color: $col1;
                }
            }
        }
    }

    .section-main {

        &-skills {

            padding: 1rem 2rem;

            p {
                margin: 0.8rem 20px;
                color: $txt1;
                text-transform: uppercase;
                text-align: center;

            }

            .skills-bar {

                margin: 0 20px 20px 20px;
                height: 1.5rem;
                max-width: 100%;
                border: $borderType1;
                box-shadow: $shadowStyle1;
                border-radius: 0.5rem;

                div[class*=bar] {
                    border-radius: 0.3rem;
                    height: 100%;
                    transition: width 0.8s ease-in-out;
                }

                &-1 {
                    width: 85%;
                    background-color: $col5;
                }

                &-2 {
                    width: 75%;
                    background-color: $col2;
                }

                &-3 {
                    width: 50%;
                    background-color: $col4;
                }

                &-4 {
                    width: 65%;
                    background-color: $col1;
                }

                &-5 {
                    width: 50%;
                    background-color: $col3;
                }
            }
        }
    }
}


// Expériences professionnelles / experiences

.experiences {

    .section {

        &-icon {
            background-color: $col4;
        }

        &-header {
            &-name {
                &-container {
                    width: 220px;
                    background-color: $col4;
                }
            }
        }
    }

    .section-main {

        &-experiences {

            display: flex;
            flex-direction: column;
            position: relative;
            padding: 1rem 0;


            &::after {
                content: "";
                position: absolute;
                top: 2%;
                left: 50%;
                width: 8px;
                height: 96%;
                transform: translateX(-50%);
                background-color: $txt3;
                z-index: 0;


            }

            div[class*=block-] {
                width: 42%;
                margin: 1rem 20px;
                padding: 0.5rem;
                position: relative;
                z-index: 10;
                background-color: $bgDark1;
                border-radius: 0.5rem;
                border: $borderType1;


                &::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-top: $borderType1;
                    border-right: $borderType1;
                    background-color: $bgDark1;
                    position: absolute;
                    top: 50%;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 1.2rem;
                    height: 1.2rem;
                    border-radius: 50%;
                    border: 3px solid $txt3;
                    background-color: $col4;
                    position: absolute;
                    top: 50%;

                }

                &:nth-child(odd) {

                    &::before {
                        right: -0.76rem;
                        transform: translateY(-50%) rotate(45deg);
                    }

                    &::after {
                        right: -3.9rem;
                        transform: translateY(-50%);
                    }

                }

                &:nth-child(even) {
                    margin-left: auto;
                    margin-top: -40px;

                    &::before {
                        left: -0.76rem;
                        transform: translateY(-50%) rotate(225deg);
                        z-index: -1;
                    }

                    &::after {
                        transform: translateY(-50%);
                        left: -3.8rem;
                    }
                }
            }

            h3 {
                padding: 0.3rem 0.5rem;
                margin-top: 0.2rem;
                margin-bottom: 0.6rem;
                font-size: 1.15em;
                background-color: $txt3;
                border-radius: 5px;
            }

            h4 {
                padding-left: 0.75rem;
                font-size: 0.95em;
            }

            ul {
                padding-inline-start: 30px;
                margin-top: 0.6rem;
                line-height: 1.6em;
                font-size: 0.9em;
            }

            @media screen and (max-width: 950px) {

                &::after {
                    top: 2%;
                    left: 6rem;
                }

                div[class*=block-] {
                    width: 70%;
                    margin-left: 9rem !important;

                    &:nth-child(odd) {

                        &::before {
                            left: -0.76rem;
                            transform: translateY(-50%) rotate(-135deg);
                        }

                        &::after {
                            left: -3.9rem;
                        }

                    }

                    &:nth-child(even) {
                        margin-top: 1rem;

                        &::after {
                            left: -3.9rem;
                        }

                    }
                }
            }

            @media screen and (max-width: 767px) {
                &::after {
                    display: none;
                }

                div[class*=block-] {
                    width: 90%;
                    margin-left: auto !important;
                    margin-right: auto !important;

                    &::after,
                    &::before {

                        display: none;
                    }
                }
            }
        }




    }
}

// Formation / education

.education {
    .section {

        &-icon {
            background-color: $col5;
        }

        &-header {
            &-name {
                &-container {
                    width: 210px;
                    background-color: $col5;
                }
            }
        }

        &-main {

            &-education {
                padding: 1rem 2rem;



                div[class*=-block] {
                    display: flex;
                    flex-direction: column;
                    border: $borderType1;
                    margin-bottom: 0.7rem;
                    padding: 0.6em 1.5em;

                }

                .education-block-1 {
                    flex-direction: row !important;

                    @media screen and (max-width: 425px) {
                        flex-direction: column !important;
                    }
                }

                .years {
                    display: flex;
                    flex-direction: column;

                    .year:nth-child(1) {
                        background-color: $col1;
                        color: $txt1;
                    }


                    .year:nth-child(2) {
                        position: relative;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 50%;
                            top: -1.5rem;
                            border-left: 0.5rem solid transparent;
                            border-right: 0.5rem solid transparent;
                            border-bottom: 1rem solid $col1;
                            transform: translateX(-50%);
                        }
                    }
                }

                .header {
                    display: flex;
                    flex-direction: row;
                }


                .year {
                    width: 4.8rem;
                    height: 2.4rem;
                    margin: 1rem 3rem 1rem 0.5rem;
                    border-radius: 1.2rem;
                    text-align: center;
                    line-height: 2.4rem;
                    color: $txt3;
                    background-color: $bgWhite3;
                    font-weight: 900;
                }

                h3 {
                    margin-top: 1rem;
                    margin-bottom: 0.6rem;
                    font-size: 1.25em;
                    font-weight: 900;
                    border-radius: 5px;
                    color: $col1;
                }

                h4 {
                    font-size: 0.95em;
                    padding-bottom: 0.5em;
                    font-style: italic;

                }

                ul {
                    padding-inline-start: 0;
                    margin-top: 0.6rem;
                    line-height: 1.6em;
                    font-size: 0.9em;
                    list-style: none;

                    li {
                        line-height: 2em;
                        font-size: 1.2em;
                        background-color: $txt3;
                        margin: 0.75em 1em 0.75em 0.5em;
                        padding: 0.5em 1em;
                        border-radius: 1em;
                        position: relative;

                        &::before {
                            content: "\f06e";
                            font-family: "Font Awesome 5 Free";
                            padding-right: 1em;
                        }

                    }

                    a {
                        text-decoration: none;
                        color: $txt1;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                        }

                    }
                }

                p {
                    font-size: 0.95em;
                    margin: 0.5em 0.75em 0.75em 0;
                }

            }


        }
    }
}


// Centre d'intérêts / interest

.interest {

    display: none;
    
    .section {

        &-icon {
            background-color: $col2;
        }

        &-header {
            &-name {
                &-container {
                    width: 270px;
                    background-color: $col2;
                }
            }
        }
    }
}